<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <main class="content">
        <article class="container">
            <div class="row mt-4">
                <div class="col">
                    <h2 class="mb-4"><%= title %></h2>
                    <hr>
                    <form action="/users/login" method="POST">
                        <div class="form-group">
                            <label for="email">Adresse mail</label>
                            <input type="email" class="form-control" id="email" placeholder="Votre adresse mail">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" placeholder="Votre mot de passe">
                        </div>
                        <% if (errors.length) { %>
                            <br>
                            <div class="alert alert-danger mt-4 mb-2" role="alert">
                                <%= errors[0] %> 
                            </div>
                        <% } %>  
                        <br>
                        <div class="button-is-centered">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </main>
    <%- include('../partials/scripts') %>
</body>
</html>