<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
        <main>
            <article class="container">
                <div class="row mt-4">
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <ul class="list-group">
                            <% albums.forEach((album) => {%> 
                                <li class="p-5 list-group-item d-flex justify-content-between align-items-center">
                                    <a href="/albums/<%= album._id %> ">
                                        <%= album.title %>
                                    </a>
                                    <a class="link-light badge bg-danger rounded-pill" href="/albums/<%= album._id %>/delete">
                                        Supprimer
                                    </a>
                                </li>
                            <% }) %> 
                        </ul>
                    </div>
                </div>
            </article>
        </main>
        <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>

</html>